@import url('myResetCSS/myReset.css'); /**/
@import url(color.css);

.card
{
    border: 1px solid black;
	border-radius: 0.5rem;
	
	font-family: Cardo;

    width: 20rem;
    margin: 1rem;
	
	background-color: var(--card-bg-color);
	color: var(--card-text-color);
	overflow: hidden;
}

.card *
{
	font-family: Cardo;
}

.card > *
{
	padding: 0.5rem;
}

.header
{
	font-size: x-large;
	font-weight: bold;
	
	background-color: var(--card-header-bg-color);
	color: var(--card-header-text-color);
	border-bottom: 5px groove var(--c2-400);
}

header > ::slotted(*)
{
	display: inline;
}

h2
{
	font-size: larger;
	font-weight: bolder;
	border-bottom: 1px solid black;
}