:root
{	
	/* Lochinvar */
	--c1-50: #effefb;
    --c1-100: #c9fef8;
    --c1-200: #94fbf0;
    --c1-300: #56f2e8;
    --c1-400: #23ded7;
    --c1-500: #0bc1bd;
    --c1-600: #059696;
    --c1-700: #097b7c;
    --c1-800: #0d5f62;
    --c1-900: #104f51;
    --c1-950: #022e31;

    /* Lynch */
    --c2-50: #f6f7f9;
    --c2-100: #eceef2;
    --c2-200: #d5d9e2;
    --c2-300: #b1bbc8;
    --c2-400: #8695aa;
    --c2-500: #64748b;
    --c2-600: #526077;
    --c2-700: #434e61;
    --c2-800: #3a4252;
    --c2-900: #343a46;
    --c2-950: #23272e;

    --sb-bg-color: var(--c1-600);
	--sb-text-color: white;

	--da-bg-color: var(--c2-200);
	--da-text-color: black;

    --button-bg-color: var(--c1-600);
    --button-text-color: white;
    --button-hover-color: linear-gradient(45deg, var(--c1-600) 0%, var(--c1-600) 50%, var(--c1-200) 100%);
}