:root
{
    --c1-50: #ecfdf5;
    --c1-100: #d1fae5;
    --c1-200: #a7f3d0;
    --c1-300: #6ee7b7;
    --c1-400: #34d399;
    --c1-500: #10b981;
    --c1-600: #059669;
    --c1-700: #047857;
    --c1-800: #065f46;
    --c1-900: #064e3b;
    --c1-950: #022c22;
}