@import url(myResetCSS/myReset.css);
@import url(color.css);

:root
{
    --sidebar-transition-time: 0.5s;

    --header-height: 5em;
}

@font-face
{
	font-family: PlayfairDisplay;
	src: url('./Assets/Font/PlayfairDisplay-Regular.otf') format("open-type");
}

@font-face
{
	font-family: PlayfairDisplay;
	font-weight: bold;
	src: url('./Assets/Font/PlayfairDisplay-Regular.otf') format("open-type");
}

@font-face
{
	font-family: PlayfairDisplay;
	font-style: italic;
	src: url('./Assets/Font/PlayfairDisplay-Regular.otf') format("open-type");
}


html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
	font-family: PlayfairDisplay;
}

body *
{
	font-family: PlayfairDisplay;
}



/* define icons */
#sidebar-header
{
	--icon:url('Assets/feather.svg');
}
#sb-home
{
	--icon: url('Assets/home-circle.svg');
}
#sb-account
{
	--icon: url('Assets/account.svg');
}                
#sb-message      
{
	--icon: url('Assets/message.svg');
}
#sb-history
{
	--icon: url('Assets/history.svg');
}
#sb-tasks
{
	--icon:url('Assets/clipboard-list-outline.svg')
}
#sb-community
{
	--icon:url('Assets/account-group.svg');
}
#sb-settings
{
	--icon:url('Assets/cog.svg');
}
#sb-support
{
	--icon:url('Assets/face-agent.svg');
}
#sb-privacy
{
	--icon:url('Assets/shield-lock-outline.svg');
}