@import url(myResetCSS/myReset.css);
@import url(color.css);

:root
{
    --sidebar-transition-time: 0.5s;
    --header-height: 5em;

	--icon: url('Assets/image-broken-variant.svg');
}

@font-face
{
	font-family: PlayfairDisplay;
	src: url('./Assets/Font/PlayfairDisplay-Regular.otf') format("open-type");
}

@font-face
{
	font-family: PlayfairDisplay;
	font-weight: bold;
	src: url('./Assets/Font/PlayfairDisplay-Regular.otf') format("open-type");
}

@font-face
{
	font-family: PlayfairDisplay;
	font-style: italic;
	src: url('./Assets/Font/PlayfairDisplay-Regular.otf') format("open-type");
}


html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
	font-family: PlayfairDisplay;
}

body *
{
	font-family: PlayfairDisplay;
}

#dashboard
{
	display: grid;
	height: 100%;
	
	grid-template: 	'sidebar	header'
					'sidebar	display';
	grid-template-rows: var(--header-height) calc(100% - var(--header-height));
	grid-template-columns: auto 1fr;
}

#sidebar
{
	--header-fs: 2rem;
	--text-fs: 1rem;
	--img-size: 3rem;
	
	grid-area: sidebar;
	
	display: flex;
	flex-direction: column;
	width:15rem;

	background-color: var(--sb-bg-color);
	color: var(--sb-text-color);
	
	> button > img
	{
		height: var(--img-size);
		width: var(--img-size);
	}
}

#sidebar p, #sidebar h1
{
	display:inline-block;
}

#sidebar-header
{
	--font-size: var(--header-fs);
	
	font-size: var(--font-size);
	font-weight: bold;

	margin: 0 0 10px 10px;
}

.group-wrapper
{
	flex:1;
	display: flex;
	flex-direction: column;
}

.sidebar-group
{
	--font-size: var(--text-fs);
	
	font-size: var(--font-size);
	
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	
	> button
	{
		margin: 5px;
	}
}

.sidebar-group:first-of-type
{
	flex:1;
}

.icon::before
{
	display: inline-block;
	height:var(--font-size, 1em);
	width: var(--font-size, 1em);
	content: var(--icon);
	margin-right: 5px;
	margin-left: 2px;
	filter: invert();
}

header
{
	grid-area: header;
	border-bottom: 5px groove var(--c2-400);
}

main
{
	grid-area: display;
	height:100%;
	overflow: hidden;
	
	display: grid;
	grid-template:	'cards	announcements' 	70%
					'cards	trending'		1fr / 1fr 20rem;
					
					background-color: var(--da-bg-color);
					color: var(--da-text-color);
}

#project-area
{
	grid-area: cards;
	height: 100%;
	overflow-y: scroll;

	display: flex;
	flex-wrap: wrap;
}

#announcements-container
{
	grid-area: announcements;
}

#trending-container
{
	grid-area: trending;
}

.notification-wrapper
{
	box-sizing: border-box;
	padding: 0.5em 5px;
	
}

.notifications
{
	height: 100%;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 10px;
	padding:5px;
	
	display: flex;
	flex-direction: column;
}

.notifications > h1
{
	font-size: 1.2rem;
	font-weight: bold;
	
}

.notifications > :first-child
{
	border-bottom: 1px solid black;
}

.notification-list
{
	flex:1;
	overflow-y: scroll;
}



.announcement
{
	border-bottom: 1px solid black;
}

.announcement > :first-child
{
	font-weight:bold;
	margin: 0.2em 0 0.5em 0;
}

.announcement > :last-child
{
	margin-bottom: 1em;
}

button
{
	border-radius: 50vh;
	text-align: left;

	background-color: var(--button-bg-color);
	color: var(--button-text-color);
	/* border: 1px solid var(--button-bg-color); */
	border: none;
}

button:hover
{
	background: var(--button-hover-color);
	box-shadow: 5px 5px 5px var(--c2-700);
}

/* define icons */
#sidebar-header
{
	--icon:url('Assets/feather.svg');
}
#sb-home
{
	--icon: url('Assets/home-circle.svg');
}
#sb-account
{
	--icon: url('Assets/account.svg');
}                
#sb-message      
{
	--icon: url('Assets/message.svg');
}
#sb-history
{
	--icon: url('Assets/history.svg');
}
#sb-tasks
{
	--icon:url('Assets/clipboard-list-outline.svg')
}
#sb-community
{
	--icon:url('Assets/account-group.svg');
}
#sb-settings
{
	--icon:url('Assets/cog.svg');
}
#sb-support
{
	--icon:url('Assets/face-agent.svg');
}
#sb-privacy
{
	--icon:url('Assets/shield-lock-outline.svg');
}