@import url(myResetCSS/myReset.css);
@import url(color.css);

:root
{
    --sidebar-transition-time: 0.5s;

    --header-height: 5em;
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header
{
    /*
    position: fixed;
    */
    grid-area: header;
    width:100%;
    background-color: var(--hightlight-color);
    color:var(--text-on-highlight-color);
}

main
{
    box-sizing: border-box;
    grid-area:display;
}


#dashboard
{
	height:100%;
    display:grid;
    grid-template: 'sidebar header'		var(--header-height)
                    'sidebar display'   1fr / auto 1fr;  
}

#sidebar
{
	--header-fs: 2.5rem;
    --button-fs: 1.2rem;
	
    display:flex;
    flex-direction: column;
    grid-area: sidebar;
    width: auto;
    padding:10px 0 5px 1%;
    box-sizing: border-box;
    background-color: var(--hightlight-color);
    color: var(--text-on-highlight-color);
    z-index: 1;
    overflow: hidden;

    max-width: 100%;
    transition-property: max-width;
    transition-duration: var(--sidebar-transition-time);
    transition-delay: var(--sidebar-transition-time);
    transition-timing-function: ease-in-out;

    >img
    {
        height: 2.5em;
        width: 2.5em;
    }

    > .sidebar-content > :first-child
    {
        flex:1;
    }
}

#sidebar-header
{
    display: block;
    overflow: hidden;
    margin-left:1rem;
    text-shadow: 2px 2px 3px var(--c1-950);
    font-size: var(--header-fs);

    > h1
    {
        font-size: var(--header-fs);
        font-weight: bold;
    }
}

#display-area
{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
}

.sb-collapse
{
    max-width:100%;
    overflow: hidden;

    transition-property: max-width;
    transition-duration: var(--sidebar-transition-time);
    transition-delay: 0;
    transition-timing-function: ease-out;
}

.sidebar-content
{
    display:flex;
    flex-direction: column;
    flex:1;
    overflow-y: scroll;
    margin:0;
	padding-right:10px;
}

.sidebar-button
{
    display: flex;
    width:90%;
    /* max-height:1.5em; */
    box-sizing: border-box;
    height:auto;
    
    text-align: left;
    border: 1px solid var(--hightlight-color);
    border-radius: 1.3em;
    box-sizing: border-box;
    margin:5px 0 5px 1rem;
    padding: 0.2em 0;
    overflow: hidden;
    background-color: var(--hightlight-color);
    font-size: var(--button-fs);
}

.sidebar-button > p
{
    display: inline;
	margin:0;
    padding: 0 10px 0 0em;
    font-size: var(--button-fs);
    color:white;
    font-size: inherit;
}

.sidebar-button:hover
{
    background-image: linear-gradient(to right, var(--c1-600), var(--c1-200));
    border: 1px solid var(--c1-950);

    > p
    {
        text-shadow: 2px 2px 2px var(--c1-950);
    }
}

.sidebar-button::before, #sidebar-header>h1::before
{
    display:inline-block;
    position: relative;
    content: var(--icon, url('./Assets/image-broken.svg'));
    height:var(--button-fs, 1em);
    aspect-ratio: 1/1;
    justify-content: center;
    filter:invert();
    margin-right: 0.5rem;
	padding: 5px 0 5px 5px;
}

.card
{
    height: 150px;
    width: 150px;
    margin:0.5em;
    padding: 0.5em;
    border: 1px solid var(--hightlight-color);
    border-radius: 0.5em;
    background-color: var(--background-color);
    box-shadow: 2px 2px 5px 1px black;
    overflow: hidden;
}

/* define icons */
#sb-home
{
	--icon: url('Assets/home-circle.svg');
}
#sb-account
{
	--icon: url('Assets/account.svg');
}                
#sb-message      
{
	--icon: url('Assets/message.svg');
}
#sb-history
{
	--icon: url('Assets/history.svg');
}
#sb-tasks
{
	--icon:url('Assets/clipboard-list-outline.svg')
}
#sb-community
{
	--icon:url('Assets/account-group.svg');
}
#sb-settings
{
	--icon:url('Assets/cog.svg');
}
#sb-support
{
	--icon:url('Assets/face-agent.svg');
}
#sb-privacy
{
	--icon:url('Assets/shield-lock-outline.svg');
}